@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-accent: #D9FD52;
  --color-surface: #080808;
  --color-border: #121212;
}

@layer base {
  body {
    @apply antialiased bg-surface text-zinc-100 selection:bg-accent/30 selection:text-white;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px currentColor;
  }
  .writing-vertical {
    writing-mode: vertical-rl;
  }
}
